

 <div class="flip-card-front">
      <h2 class="card-title text-left text-white py-3">Key Stats:</h2>
      <div class = "firstStat">
        <h3 class = "statsName text-center"> Profit/Loss </h3> <h1 class = "stats1 text-center"> {{profit.toLocaleString('en-GB', {style: 'currency', currency: 'GBP'})}}</h1> 
      </div>
</div>

  <div class = "flip-card-back">
    <h2 class="card-title text-left text-white py-3"> More Stats:</h2>
    <div class = "secondStat">
      <h3 class = "statsName text-center" data-toggle = "popover"> # of Trades Executed </h3> <h1 class = "stats1 text-center">  {{noOfTrade}} </h1> 
    </div>
  </div>