.firstStat{
    color: #0099CC;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #343a40;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #17a2b8;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
  }

  .flip-card-front .card-title, .flip-card-back .card-title{
    padding-left: 8px;
  }