  .logo{
    width: 240px;
    border-radius: 5px;
  }

  .card{
    margin-bottom: 50px;
  }

  #card1:hover{
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02); 
  }



  #myInput {
    box-sizing: border-box;
    background-color: grey;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 12px;
    padding: 14px 20px 12px 40px;
    border: none;
    border-bottom: 1px solid #ddd;
    max-width: 20em;
  }
    /* The search field */
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: block;
    align-items: left;
    justify-content: left;
    padding-left: 5em;
    margin-left: 1.5em;
  }

  #dropdownMenu1 {
    max-width: 10rem;
    font-size: 12px;
  }
  
  /* Dropdown Content (Hidden by Default)  */
  .dropdown-menu {
    display: none;
    position: bottom;
    background-color: #f6f6f6;
    max-width: 16em;
    border: 1px solid #ddd;
    z-index: 1;
  }
 
  /* Links inside the dropdown */
  .dropdown-menu a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
  
  /* Change color of dropdown links on hover */
  .dropdown-menu a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  /*Call to Action*/
  .header-line {
    height: 7px;
    width: 1200px;
    content: '';
    display: block;
    border-radius: 12px;
  }

  .gradient-color-1{
      background: -webkit-linear-gradient(left,#fc636b 0,#ff6d92 60%,#fd9a00 100%);
      background: linear-gradient(to right,#87f5dd 0,#13a094 60%,#008bfd 100%);
  }

  #headerCard{
    max-width: 10em;
    max-height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    border-radius: 12px;
    border: 4px;
    opacity: 0.8;
  }

  .card2Content{
    padding-left: 250px !important;
  }

  #stratModalButton{
    margin-top: 5px;
    margin-left: 35px;

  }


  #tradeButton {
    align-items: center;
    justify-content: center;
    float: center;
    margin-left: 45px;
  }

  #stopButton {
    align-items: right !important;
    justify-content: right !important;

  }

  .mutedText{
    font-size: 11px;
    color: grey;
    display: inline;
  }

  #tradeTitle{
    padding-top: 0px;
    margin-top: 0px;
    margin: 0px;
    float: top;
  }

  #viewMoreButton{
    margin-top: 10px;
    align-content: center;
    justify-content: center;
    display: block;
    margin-left: 9em;
    
  }

  .stats1{
    color: #29b6f6;

  }

  .statsName{
    color: white;
    align-items: right;
    justify-content: right;
  }

  .stats2{
    color: red;
  }

  .firstStat{
    display: inline;
    
  }

  .flip-card {
    background-color: #343a40;
    width: 33em;
    height: 18em;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #343a40;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #17a2b8;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
  }

  .flip-card-front .card-title, .flip-card-back .card-title{
    padding-left: 8px;
  }

  table.table-bordered{
    border:2px solid;
    border-color: #17a2b8;
  }

  .table thead, .table tbody{
    text-align: center;
  }

  .table.table-hover.table-bordered tr th{
    border: 2px;
    border-color: #17a2b8;
  }

  .table.table-hover.table-bordered tbody{
    border: 2px;
    border-color: #17a2b8;
  }

  #tableWrapper table thead th .text{
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
  }

  .modal{
    background: linear-gradient(90deg, rgba(8,25,131,1) 0%, rgba(99,142,137,1) 35%, rgba(62,180,204,1) 100%);
    align-items: center;
    justify-content: center;
  }

  .uppercaseTexts{
    text-transform: uppercase;
  }

  #selectedTicker{
    text-transform: uppercase;
    text-align: left;
  }

  #formContainer input{
    width: 50%;
    font-size: 16px;
    margin: 0.5em;
    clear: both;
    float:none;

  }

  #formContainer{
    width: 500px;
    clear: both;
    float: center;
    align-items: center;
    justify-self: center;
    margin: auto;
  }

  #validation3{
    width: 7em;
  }

  label{
    font-size: 12px;
    text-align: right;
  }

  #currentPriceRow{
    display: block !important;
    float: right;
    padding-right: 15px;
  }

  #currentPositionRow{
    display: block !important;
    float: inherit;
    padding-right: 15px;
  }


  #smallTable{
    width: relative;
    height: relative;
  }

  #tableScroll{
    height:350px;
    overflow:auto;  
    margin-top:25px;
  }

  #tableWrapper{
    position:relative;
  }

  .extra{
    justify-content: center ;
    align-items: center;

  }

  #selectCurrentStrat{
    width: 400px;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
  }

  #stratModal{
    background: linear-gradient(90deg, rgb(40, 40, 41) 0%, rgb(58, 58, 58) 35%, rgb(8, 8, 8) 100%);
  }

  #strategyBegan{
    background: linear-gradient(90deg, rgb(40, 40, 41) 0%, rgb(58, 58, 58) 35%, rgb(8, 8, 8) 100%);
  }
  
  #stopWarningModal{
    background: white;
    opacity: 0.9;
  }

  #card2{
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
  }

  #portfolioTable{
    overflow: auto;
    height:100px;
  }

  #portforlioTable tr th {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  #card1Title{
    padding-left:8px;
    float: left;
    display: block;
  }

  .modal-content1 {
    justify-content: left;
    position: left;
    display: left;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin: auto;
  }

  #xlModal{
    width: 1250px;
    float: left;
    margin-left: 350px;
  }

  .has-error input[type="text"], .has-error input[type="email"], .has-error select {
    border: 1px solid #a94442;
}