<div class="card border-primary" id = "headerCard">
<span class="header-line gradient-color-1"></span>
<div class="card-block">
   <a href= "/"> <span class="card-title no-margin-top text-center"><img src = "../assets/synergy.jpg" class="logo"/><span class="fa fa-map pull-right"></span></span> </a>
</div>
</div>

<div class="card-deck">

<div class="container">
  <div class="row">
    <div class="col-md-auto col-md-6 d-flex">
      <div class="card h-80 w-150 bg-dark text-white my-5 shadow p-1 rounded" id = "card1">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3" id="card1Title"> Strategy Stats:</h2>
            <div class="dropdown">
              <select id = "dropdownGraph"> 
                <option ng-click="findForGraph(currentStrat.id)" *ngFor = "let currentStrat of currentStrats" [ngValue] = "currentStrat.id">  {{currentStrat.id}} </option> 
              </select>
            </div>
          <div class="live-chart">
            <app-line-chart></app-line-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-auto col-md-6 d-flex">
      <div class = "card h-80 w-150 d-flex border-info my-5 shadow p-1 rounded" id = "card2">
        <div class= "card-body">

        <h2 class = "card-title text-center py-3" id="tradeTitle"> Strategy </h2>
        
        <div container class = "card2Content">
          <p class = "mutedText"> Select to choose which stock to trade with: </p>
          <div class = "row">
              <div class="dropdown">   
                <button onclick="myFunction()" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" id = "dropdownMenu1">Dropdown</button>
                    <div id="myDropdown" class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu1">
                      <input type="text" placeholder="Search.." ng-keyup="filterFunction()" id="myInput">
                      
                      <a *ngFor="let stock of stocks"  class="{{stock.id}}" href="#{{stock.ticker}}" id="tickerList" (click)="selectTicker(stock.ticker, stock.id)">{{stock.ticker}}</a>
                    </div>
              </div>
          </div>

            <p class = "mutedText"> You've selected: </p> <h3 id = "selectedTicker"> {{ CurrentTicker }}</h3>
              <div class = "container" id="formContainer">
              <form class = "needs-validation" novalidate="true" id = "tradeForm" onsubmit="return validateForm()" role="form" data-toggle="validator">
                  <div class = "form-row">
                      <div class="col-md-4 mb-3">
                        <label for = "validation1"> Short Period (minutes) </label>
                        <input type= "number" class = "form-control" id = "inputValidation1"  placeholder = "30" maxlength="2" autofocus required ="required" data-error="Please enter a valid short period (in minutes).">
                        <div class="help-block with-errors"></div>
                      </div>

                      <div class="col-md-4 mb-3">
                        <label for = "validation2"> Long Period (hours) </label>
                        <input type= "number" class = "form-control" id = "inputValidation2" placeholder = "4" maxlength="2" required/>
                      </div>
                  </div>

                  <div class = "form-row">
                      <div class="col-md-4 mb-3">
                        <label for = "validation3"> Exit P/L (£) </label>
                        <input type= "number" class = "form-control" id = "inputValidation3"  placeholder = "2000" required />
                      </div>

                      <div class="col-md-4 mb-3">
                        <label for = "validation4"> Holdings</label>
                        <input type= "number" class = "form-control" id = "inputValidation4"  placeholder = "200" required />
                      </div>
                  </div>

                  <a href= "/"><button (click)="postTrade()" class = "btn btn-info" id = "tradeButton" data-toggle="modal" data-target="#strategyBegan"> Begin Strategies </button> </a>
              </form>
            </div>
            <button  class = "btn btn-dark" data-toggle="modal" data-target="#stratModal" id="stratModalButton"> View Running Strategies </button> 
          </div>
        

          <div class ="extra">
               <div class="modal fade" id="strategyBegan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                          <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Strategy Status</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                          <!-- Modal body -->
                      <div class="modal-body">
                        Strategy has begun. Refresh the page to check for updates.
                      </div>

                    </div>
                  </div>
              </div>
            

            
                 <!-- The Modal -->
            <div class="modal fade" id="stratModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Running Strategies:</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    <table class = "table table-hover table-bordered">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Holding</th>
                        <th scope="col">Current Position (1= buy, -1 sell)</th>
                        <th scope="col">Exit P/L (£) </th>
                        <th scope="col">Short Period (minutes)</th>
                        <th scope="col">Long Period (hours)</th>
                        <th scope="col">Stop</th>
                      </tr>
                      
                      <tbody>
                        <tr *ngFor="let currentStrat of currentStrats; let i = index;" >
                            <td> {{ currentStrat.id }} </td>
                            <td class="uppercaseTexts"> {{ currentStrat.stock.ticker }} </td>
                            <td> {{ currentStrat.size }} </td>
                            <td>{{ currentStrat.currentPosition }} </td>
                            <td>  {{ currentStrat.exitProfitLoss }} </td>
                            <td> {{ currentStrat.shortPeriod}} </td>
                            <td> {{ currentStrat.longPeriod }} </td>
                            <td> <button class = "btn btn-danger" (click)="indexToRemove=i;" data-toggle="modal" data-target="#stopWarningModal"> STOP </button>  </td>


                            <div class="modal fade" id="stopWarningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-sm">
                                <div class="modal-content">
                        
                                  <!-- Modal Header -->
                                  <div class="modal-header">
                                    <h4 class="modal-title">Warning</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>

                                  <div class = "modal-body">
                                     <p> Are you sure you would like to stop this trade? </p>
                                     <p> Your current position is: {{currentStrat.currentPosition}} </p>
                                    <button (click)="stopTrade(currentStrat.id)" class = "btn btn-danger" id = "stopButton"> STOP </button>
                                  </div>
                                </div>
                              </div>
                            </div>

                        </tr>
                      </tbody>
                    </table>

                    


                  </div>
                </div>
              </div>
            </div>


          </div>

        
      </div>
     
      <router-outlet></router-outlet>
    
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-auto col-md-6 d-flex">
      <div class = "card h-80 w-150 border-dark my-7 shadow p-2 rounded" id = "card3">
        <div class= "card-body">
          <h2 class = "card-title text-center py-3"> Portfolio </h2>
          
          <div id= "tableWrapper">
            <div id = "tableScroll">
              <table class = "table table-hover table-bordered" id = "smallTable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Holding</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                
                <tbody>
                  <tr *ngFor="let portfolio of portfolios" >
                    <td> {{ portfolio.id }} </td>
                    <td class="uppercaseTexts"> {{ portfolio.stockTicker }} </td>
                    <td> {{ portfolio.size }} </td>
                    <td> {{ portfolio.price.toLocaleString('en-GB', {style: 'currency', currency: 'GBP'})}} </td>
                    <td> {{ portfolio.tradeType }} </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
            <button type = "button" class = "btn btn-info" data-toggle="modal" data-target="#myModal" id="viewMoreButton"> View More </button> 
        </div>
        
          
         
          <!-- The Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document" id = "xlModal">
                <div class="modal-content1">
                
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Your Portfolio:</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    <table class = "table table-hover table-bordered" id="portfolioTable">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Holding</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                      
                        <th scope="col">Long Period</th>
                        <th scope="col">Short Period</th>
                        <th scope="col">Exit P/L</th>
                        <th scope="col">P/L</th>
                    
                      </tr>
                      
                      <tbody>
                        <tr *ngFor="let portfolio of portfolios" >
                            <td> {{ portfolio.id }} </td>
                            <td class="uppercaseTexts"> {{ portfolio.stockTicker }} </td>
                            <td> {{ portfolio.size }} </td>
                            <td>£{{ portfolio.price }} </td>
                            <td> {{ portfolio.tradeType }} </td>
                            
                            
                            <td> {{ portfolio.strategy.longPeriod }} </td>
                            <td> {{ portfolio.strategy.shortPeriod }} </td>
                            <td> {{ portfolio.strategy.exitProfitLoss }} </td>
                            <td> {{ portfolio.strategy.profit.toLocaleString('en-GB', {style: 'currency', currency: 'GBP'}) }} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
      </div>
      <router-outlet></router-outlet>
      
    </div>

    <div class="col-md-auto col-md-6 d-flex">
      <div class="flip-card h-80 w-150 bg-dark my-7 shadow p-2 rounded" id = "card4">
        <div class="flip-card-inner">
         <div class="stats">
            <app-stats></app-stats>
          </div>
      </div>
      </div>


      <router-outlet></router-outlet>
    </div>
  </div>
</div>

</div>

